.around-the-world {
    min-height: 720px;
    max-height: 720px;
    background-image: url(../img/world_bg.svg);
    & .error {
        height: 10px;
    }

    .advantages {
        background-color: #ffffff;
        color: #070716;
    }
    text-align: center;
    h2 {
        font-size: 38px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;

    }

    p {
        font-size: 17px;
        color: #ffffff;
        font-weight: 400;
        
        text-align: center;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: #1FBAD6;
        text-align: center;
        text-transform: uppercase;
    }

    & .title {
        height: 590px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

